.timeline {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#5C6672;
    font-family: Georgia, serif;   
}

.selectDecade {
    text-align: center;
    padding-bottom: 0px !important;
    font-size: 35px;
    font-family: Georgia, serif;  
}

.decade {
    margin-bottom: 0px;
    font-size: 30px;
    color: #000000
}

.decadeHeader {
    background-color: #ca3403;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 0px;

}

.userGuide {
    padding: 0px !important;
    font-size: 14px;
}