.timeline {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#5C6672;
    
    
}

h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}