.timeline {
    
    font-size: 20px;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:lightgray;
    
}

h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}